<!--view/contact.ejs-->
<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Our services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div class="container">
            <h1> Contact Us</h1>
            <p>Get in touch with us for any inquiries or feedback.</p>
        </div>
    </body>
    </html>