<!--view/services.ejs-->
<html>
    <head>
        <title>Our Services</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Our services</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div class="container">
            <h1> Our Services</h1>
            <p>We offer various services to meet your needs. </p>
        </div>
    </body>
    </html>